body {
    padding: 20px;
    font: 18px/1.5 sans-serif;
  }
  
  .hexlet-ul {
    list-style: none;
    margin-bottom: 50px;
  }
  
  .hexlet-ul li {
    position: relative;
  
    margin-bottom: 10px;
  }
  
  .hexlet-ul li::before {
    position: absolute;
    left: -30px;
  
    width: 20px;
    height: 20px;
  
    background-image: url(https://assets.codepen.io/1425525/hexlet_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
  
    content: '';
  }

  .hexlet-form {
    margin-bottom: 10px;
  }

